* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
html {
	background-image: linear-gradient(to right, #221178, purple 50%);
}
#root {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
::-webkit-scrollbar {
  width: 0;
}


/*navigation-part*/


.nav {
	width: 100%;
	height: 80px;
	background-color: transparent;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-image: linear-gradient(to right, #221178, purple);
	z-index: 1;
}
#menu-bar {
	display: none;
}
#menu-bar a {
	 text-decoration: none;
	 font-size: 20px;
}
#left-side {
	display: flex;
	width: 500px;
	justify-content: space-around;
	align-items: center;
	position: relative;
}
#logo-header img {
	height: 70px;
	width: 100px;
}
#list-nav {
	list-style-type: none;
	margin: 0;
	padding: 0 5px;
}
#list-nav li {
	display: inline-block;
}
#list-nav li a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	margin-left: 5px;
	transition: color .5s;
}
#list-nav li a:hover {
	color: black;
}
.hide {
	visibility: hidden;
}
#right-side2 {
	display: none;
}
#right-side {
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#sub-right-side {
	display: flex;
	width: 290px;
	height: 25px;
	justify-content: space-around;
	align-items: center;
}
#search-container2 {
	display: none;
}
#search-container {
	background-color: white;
	border-radius: 50px;
}
#search {
	border: none;
	height: 100%;
	width: 100%;
	padding: 0 10px;
	background-color: transparent;
	border-radius: 50px;
}
#search:focus {
	outline: none;
}
::placeholder {
	color: black;
}
#search-bar td a span {
	vertical-align: middle;
	color: #363335;
	padding: 0 3px;
	font-size: .8em;
}
#notification {
	margin-top: 2px;
}
#profile a img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}
#profile-details {
	height: 0;
	width: 0;
	background-color: white;
	overflow: hidden;
	position: absolute;
	top: 80px;
	right: 0;
	transition: all .7s;
	border-radius: 0 0 0 10px;
	z-index: 3; 
}
#profile-details p {
	font-size: .9rem;
	font-weight: 600;
	text-align: center;
	padding-bottom: 5px;
	color: black;
}
#profile-details p:hover {
	background-color: #8a0462;
	color: white;
}
#profile-details a {
	text-decoration: none;
}
#profile-details:target {
	width: 100px;
	padding: 10px 0;
	height: auto;
	top: 70px;
}


/*main-part*/


#main {
	display: flex;
	width: 75%;
	height: auto;
	margin: auto;
	margin-top: 30px;
}

/*Left-box*/
/*Artist-title*/
#left-box {
	width: 65%;
	height: auto;
	display: flex;
	flex-direction: column;
}
#artist-title {
	display: flex;
	width: 100%;
	height: auto;
}
#artist-img {
	width: 230px;
	height: 230px;
}
#artist-img img {
	width: 100%;
	height: 100%;
}
#artist-info {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
}
#info-top {
	display: flex;
	flex-direction: column;
}
#sub-info-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#info-bottom {
	display: flex;
}
#play-button {
	width: 120px;
	height: 35px;
	color: black;
	font-weight: 600;
	padding: auto;
	margin: auto;
  	cursor: pointer;
  	border: none;
  	box-sizing: border-box;
	background-image: linear-gradient(to right, pink , white);
}
#follow {
	margin: auto;
}
/*Music-list*/
.music-list {
	width: 100%;
}
.music-list ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-details {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	height: 60px;
}
.q-poster span img {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.left-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 140px;
	margin-left: 5px;
}
.q-poster span {
	font-size: 11px;
}
.song-details {
	text-align: center;
}
.song-details span {
	color: #c8ccca;
	font-size: 10px;
}
.right-details {
	margin: auto 10px;
}
.right-details span {
	margin-left: 10px;
}

/*right-box*/
#right-box {
	width: 25%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.a-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.album {
	width: 100%;
	height: 70px;
	margin: auto;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}
.details {
	display: flex;
	width: 170px;
	margin: auto 0;
	justify-content: space-between;
	align-items: center;
}
.poster img {
	width: 70px;
	height: 70px;
	opacity: 1;
	transition: .5 ease;
}
.name h3, .name p {
	text-align: center;
	
}
.option p {
	font-size: 11px;
	text-align: center;
	opacity: .8;
}
.name p, .option p {
	color: #e6dfdf;
	font-size: 12px;
}
.name h3 {
	color: white;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
.poster {
	position: relative;
	width: auto;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img {
	opacity: 1;
	transition: .5s ease;
  	backface-visibility: hidden;
}
.poster:hover .img {
  opacity: 0.6;
}
.poster:hover .middle {
  opacity: 1;
}
.play {
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 4px 4px;
  text-decoration: none;
}

.list-details2 {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	height: 40px;
}
.q-poster2 span img {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}
























/*Often-used classes*/

.mt-15px {
	margin-top: 15px;
}
.f-style1 {
	font-family: 'Raleway', sans-serif;
}
.f-style2 {
	font-family: 'Roboto', sans-serif;
}
.fs-12px {
	font-size: 12px;
}
.fs-10px {
	font-size: 10px;
}
.color-1 {
	color: white;
}
.color-2 {
	color: #d1cbcb;
}
.color-4 {
	background-color: #5870a3;
}
.bck-1 {
	background-color: #0e0459;
}
.bck-2 {
	background-color: #0b024a;
}
.mt-5px {
	margin-top: 5px;
}